.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .go-back {
  text-decoration: none;
  color: #555;
  font-size: 26px;
  font-weight: 500;
  transition: .3s;
}
.header .go-back i {
  margin-right: 5px;
}
.header .go-back:hover {
  color: #000;
}

.header .logo {
  width: 300px;
  height: 61px;
  background-image: url(../Images/coders-x.png);
  background-size: cover;
  background-position: center;
}

.header .sign-up {
  text-decoration: none;
  color: #555;
  font-size: 26px;
  font-weight: 500;
  padding: 10px 30px;
  border: 1px solid #555;
  background-color: #00000000;
  transition: .3s;
}
.header .sign-up:hover {
  color: #000000;
  border-color: #000000;
}